/* 
Custom styles to fine-tune the space between sections and headers on the homepage (index.html). 
Changes include:
1. Adjusting the space above each section (using margin-top).
2. Controlling the space between each section's header (using margin-bottom).
*/

#intro.section h2, #main.section h2, #skill.section h2, #experience.section h2, 
#service.section h2, #portfolio.section h2, #testimonial.section h2, #blog.section h2 {
    margin-bottom: 20px;  /* Adjust this value as needed */
}

#intro.section {
    margin-top: -50px;

}

#main.section, #skill.section, #experience.section, #service.section, 
#portfolio.section, #testimonial.section, #blog.section {
    margin-top: -180px;
}

.section h3 {
    margin-bottom: 20px;  /* Adjust this value as needed */
    margin-top: 40px;  /* Adjust this value as needed */
}


