{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- content -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /content -->

{{ end }}
