{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container blog">
      <div class="row">
        <div class="col-lg-12">
		<h2 class="font-tertiary mb-5">{{.Title}}</h2>
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span class="text-primary">{{.Site.Params.Author}}</span></p>
          <div class="content">
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
